## Series

In [5]:
import pandas as pd
import numpy as np

### dictionaryからSeriesを作る

In [4]:
data = {
    'Name': 'John', 
    'Sex': 'male', 
    'Age': 22
}

In [3]:
pd.Series(data)

Name    John
Sex     male
Age       22
dtype: object

### Numpy ArrayからSeriesを作る

In [14]:
array = np.array([22, 31, 42, 23])
array

array([22, 31, 42, 23])

In [7]:
# dictionaryのようにkeyはつかない
# その代わりにindexが付く

pd.Series(array)

0    22
1    31
2    42
3    23
dtype: int64

In [9]:
array = np.array(['John', 'male', 22])
pd.Series(array)

0    John
1    male
2      22
dtype: object

In [10]:
# 後からラベルをつけてあげる

array = np.array(['John', 'male', 22])
pd.Series(array, index=['Name', 'Sex', 'Age'])

Name    John
Sex     male
Age       22
dtype: object

In [15]:
array = np.array([22, 31, 42, 23])
age_series = pd.Series(array)

In [16]:
age_series

0    22
1    31
2    42
3    23
dtype: int64

In [18]:
# .valuesでNumpy Arrayに変換

age_series.values

array([22, 31, 42, 23])

In [21]:
# Numpy Arrayとして種々を求めることも可能

a = age_series.mean()# 平均値
b = age_series.median()# 中央値
c = age_series.max()# 最大値
d = age_series.min()# 最小値

In [23]:
print(a)
print(b)
print(c)
print(d)

29.5
27.0
42
22